
/* Selector Universal*/
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Selecto ID */
#contenedor{
    width: 1400px;
    height: 1000px;
    background-color:rgb(0, 61, 175);
    
}

#encabezado {
    height: 15%;
    background-color: rgb(144, 75, 255);
    margin: 0rem;
    color: whitesmoke;
}

#menu{
    height: 5%;
    background-color: white;
    margin: 1em auto;
    color: whitesmoke;
}

#contenido{
    height: 75%;
    width: 55%;
    background-color: white;
    margin: 1em;
    float: left;
}


#fueraSeccion{
    height: 71%;
    width: 36%;
    background-color: white;
    margin: 2rem;
    float: right;
    padding: 0.5em;
}


#pie{
    height: 5%;
    width: 1400px;
    background-color: rgb(144, 75, 255);
    margin-right: 252px auto;
    margin-left: 252px auto;
    text-align:right;
    color: whitesmoke;
}

/* Selectores de clase */
.texto{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    margin-left: 15px;
    margin-right: 15px;
}

.encabezado{
    text-align: center;
    background: #333;
    color: whitesmoke;
    margin: auto 2em;
}

.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    
}


/* selector de etiqueta */

ul{
    text-align: center;
}

li{
    display:inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

/* modificaciones */
.encabezado_articulo{
    margin: 30px; 
}

img{
    margin:10px;
}

body {
    background-image: url("../img/starss.jpg");
    background-repeat: repeat;
    }

    .textoEnc{
        text-align: center;
    }

    .imagennasa{
        width:100%;
                height:100%;
    }